.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**
old/**
migrations/**
.gitignore
.yarnrc
.npmrc
.vscode-test.mjs
bun.lock
package-lock.json
postcss.config.js
svelte.config.mjs
tailwind.config.js
TODO.md
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
